<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cuieney.android.rxpay">

    <application
        android:name=".RxPayApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".KotlinSampleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- 微信支付 -->
        <meta-data
            android:name="WX_APPID"
            android:value="wxbc998sss8d5283csdsdf187" />

        <meta-data
            android:name="PARTNER_ID"
            android:value="124455465765" />
        <meta-data
            android:name="API_KEY"
            android:value="sdsdsafshregewrew" />

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

    </application>

</manifest>
